<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- main Site -->
<main class="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"> <i class="fas fa-angle-double-left"></i> All Employee</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update Employee</h2>
      <span class="text-light">Use the below form to update an account</span>
    </div>
    <!-- form handling -->
    <form action="api/employee/:_id" method="POST" id="update_employee">
      <div class="new_employee">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%=employee._id%>" />
          <input
            type="text"
            name="name"
            value="<%=employee.name%>"
            placeholder="Suman Moond"
          />
        </div>
        <div class="form-group">
          <label for="Email" class="text-light">Email</label>
          <input
            type="text"
            name="email"
            value="<%=employee.email%>"
            placeholder="example@gmail.com"
          />
        </div>
        <div class="form-group">
          <label for="Gender" class="text-light">Gender</label>
          <div class="radio inline">
            <input type="radio" id="radio-2" name="Gender" value="Male"
            <%=employee.gender =='Male'?'checked':'' %>>
            <label for="radio-2" class="radio-label">Male</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-3" name="Gender" value="Female"
            <%=employee.gender =='Female'?'checked':'' %>>
            <label for="radio-3" class="radio-label">Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="Gender" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" id="radio-4" name="Status" value="Active"
            <%=employee.status =='Active'?'checked':'' %>>
            <label for="radio-4" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-5" name="Status" value="Inactive"
            <%=employee.status =='Inctive'?'checked':'' %>>
            <label for="radio-5" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
    <!-- /form handling -->
  </div>
</main>
<!-- /main Site -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->
